<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-auto col-md-5>
        <ion-card>
          <ion-card-header></ion-card-header>
          <ion-card-content>
            <ion-card-title>AppFRF</ion-card-title>
            <form (submit)="login()">
              <ion-item>
                <ion-input type="text" name="email" placeholder="E-mail" [(ngModel)]="user.email" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
              </ion-item>

              <button ion-button type="submit" block>LOGINx</button>

            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
